<div style="text-align:center">
  <h1>
    Welcome to {{title}}!!
  </h1>
  <hr/>
</div>
<div class="container">
  <ul>
    <li *ngFor="let forecast of forecastTimes">
      <section class="card">
        <header>
          <h1 class="date">
            {{forecast.dt_txt_date}}
          </h1>
        </header>
        <p class="temperature">{{forecast.temp | number : '2.1-1'}} °C</p>
        <div>
          <img class="icon" alt="{{forecast.weather.main}}" src="http://openweathermap.org/img/w/{{forecast.weather.icon}}.png">
        </div>
        <p class="description">{{forecast.weather.description}}</p>
      </section>
    </li>
  </ul>
</div>
